

.scroller {
    overflow-x: scroll;
    scroll-behavior:initial;  
  }
  
  .scroller::-webkit-scrollbar {
    display: none;
  }
  
  .infinite-row-element {
    min-width: 200px;
    padding: 3px;
  }
  
  .imagetransition{
    transform: translateX(0px);  
    transition: 1s all;
    /* cursor: pointer; */
  }
  
  .imagetransition:hover{
    box-shadow: 2px 0 20px 2px rgba(255, 255, 255,4 );
    transform: scale(1.09);
    z-index:2;
  } 
  
  .infinite-row {
    width: auto;
    display: flex;
    flex-direction: row;
    animation-name: slide;  
    animation-duration: 15s;
    animation-iteration-count: infinite;   
  }
  
  .infinite-row-element {
    min-width: 200px;
    padding: 3px;
  }
  
  .infinite-row:hover{
    animation-play-state: paused;
  }
  
  @keyframes slide{
    10%{
        transform: translateX(0);
    }
   15%, 25%{
        transform: translateX(-150px);
    }
   30%, 40%{
        transform: translateX(-300px);
    }
    45%,55%{
        transform: translateX(-350px);
    }
   60%, 80%{
    transform: translateX(0);
    }
  
    /* 75%,80%{
        transform: translateX(-750px);
    } */
    /* 85%,95%{
        transform: translateX(0);
    } */
  
  }
  
  .image-height{
    max-height: 18rem;
  }

  .modal-div{
    top:0%;
    left:0;
    right:0;
    height: 100%;
  }

  #deleteBtn{
    height: 15px;
    width: 15px;
  }

  #deleteBtn:hover{
    height: 18px;
    width: 18px;
  }

  option{
    color: black;
    background-color: transparent;
    text-align: center;
  }